#warning-message{
    font-size:14px;
    color:red;
}

.header-content{
    background-color:forestgreen;
    overflow:auto;
}

.left{
    float:left;
    display:inline-block;
    margin: 10px 10px;
    color:whitesmoke;
}

.right{
    float:right;
    display:inline-block;
    margin: 10px 10px;
}

th {
    background-color: #4CAF50;
    color: white;
}

.table-hover tbody tr.selected, .table-hover tbody tr.selected:hover{
    background-color: #337ab7;
}