p.warning-message{
    font-size:12px;
    color:red;
}

.header-content{
    background-color:forestgreen;
    overflow:auto;
}

.left{
    float:left;
    display:inline-block;
    margin: 10px 10px;
    color:whitesmoke;
}

.right{
    float:right;
    display:inline-block;
    margin: 10px 10px;
}

th {
    background-color: #4CAF50;
    color: white;
}

.table-hover tbody tr.selected-to-add, .table-hover tbody tr.selected-to-add:hover{
    background-color: #428bca;
}

.table-hover tbody tr.selected-to-delete, .table-hover tbody tr.selected-to-delete:hover{
    background-color: #d9534f;
}

.next-step{
    float:right;
    display:inline-block;
}

.previous-step{
    float:left;
    display:inline-block;
}

.progress-indicator{
    margin-bottom: 50px;
}

.table tbody tr{
    background-color:ghostwhite;
}

.table-hover tbody tr:hover {
    background-color: lightgoldenrodyellow;
}

.progress-indicator>li .bubble{
    border-bottom:none;
}

.release-name{
    font-weight:bold;
    color:#4CAF50;
}