<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="commentModalLabel">Write a comment</h4>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="vm.submitComment()" role="form">
                    <div class="form-group top-buffer">
                        <label for="commentTextArea">Explain why this card can't be marked as done</label>
                        <textarea class="form-control" rows="5" id="commentTextArea" ng-model="vm.comment"></textarea>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" ng-disabled="vm.dataLoading">Submit</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h2>Board Pending Actions</h2>
<form name="form" role="form" ng-submit="vm.replan()">
    <div class="form-group top-buffer">
        <label for="boardSelector">Select a board</label>
        <select class="form-control" id="boardSelector" ng-model="vm.selectedBoard"
                ng-options="board as board.name for board in vm.boards" ng-change="vm.getLogs()">
        </select>
    </div>
    <div class="form-group top-buffer">
        <div class="row">
            <div class="col-md-6">
                <label for="logsTable">New logs</label>
            </div>
            <div class="col-md-6 text-right">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true" ng-click="vm.getLogs()" title="Refresh"></span>
            </div>
        </div>
        <table class="table table-responsive table-hover" id="logsTable">
            <thead>
            <tr>
                <th class="date_column">Date</th>
                <th>Board</th>
                <th>Event</th>
                <th class="action_column">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in vm.logs"} ng-class="{'log_accepted': log.accepted}">
                <td>{{ log.createdAt }}</td>
                <td>{{ log.boardName }}</td>
                <td>{{ log.description }}</td>
                <td>
                    <div>
                        <div class="action_button_container">
                            <button type="button" class="btn btn-default btn-md action_button" title="More info">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.displayCardTracking($index)"></span>
                            </button>
                        </div>
                        <div class="inline_block" ng-if="log.type === 'FINISHED_LATE' || log.type === 'FINISHED_EARLIER'">
                            <div class="action_button_container">
                                <button type="button" class="btn btn-default btn-md action_button" title="Mark as completed">
                                    <span class="glyphicon glyphicon-check green" aria-hidden="true" ng-click="vm.markAsCompleted($index)"></span>
                                </button>
                            </div>
                            <div class="action_button_container">
                                <button type="button" class="btn btn-default btn-md action_button" title="Reject">
                                    <span class="glyphicon glyphicon-remove red" aria-hidden="true" ng-click="vm.reject($index)"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-actions top-buffer">
            <div class="col-xs-12 col-sm-12 text-center">
                <button type="submit" class="btn btn-success btn-md" ng-disabled="vm.dataLoading || vm.selectedBoard.name === 'All'">Replan</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </div>
    </div>
</form>