<ul class="progress-indicator">
    <li class="completed"> <span class="bubble"></span> Select plan </li>
    <li class="completed"> <span class="bubble"></span> Select team </li>
    <li class="completed"> <span class="bubble"></span> Match </li>
    <li class="completed"> <span class="bubble"></span> Create board </li>
    <li> <span class="bubble"></span> Completed </li>
</ul>
<form name="form" ng-submit="vm.nextStep()" role="form">
    <h2>Load release plan to Trello</h2>
    <div class="form-group top-buffer">
        <label for="boardName">Board name</label>
        <input type="boardName" name="boardName" id="boardName" class="form-control" ng-model="vm.boardName" required />
        <span ng-show="form.boardName.$dirty && form.boardName.$error.required" class="help-block">Board name is required</span>
    </div>
    <div class="form-group top-buffer" ng-hide="$root.unmatchedResources.length === 0">
        <p class="warning-message">
            <strong>WARNING!</strong> There are some resources of the selected plan that aren't linked with a Trello user. Click <a href="/match">here</a> to fix it.
        </p>
    </div>
    <div class="form-actions top-buffer">
        <div class="col-xs-12 col-sm-3 col-md-offset-5">
            <button type="submit" class="btn btn-success btn-lg" ng-disabled="vm.dataLoading">Load to Trello</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div class="top-buffer">
            <button type="button" class="btn btn-link" class="previous-step" ng-click="vm.previousStep()">&laquo; Previous</button>
        </div>
    </div>
</form>