<div class="modal fade" id="matchingModal" tabindex="-1" role="dialog" aria-labelledby="matchingModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="matchingModalLabel">Match each plan resources with Trello user</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="resourceselector">Select a resource</label>
                            <select class="form-control" id="resourceselector" ng-model="vm.selectedResource"
                                    ng-options="resource as resource.name for resource in vm.unmatchedPlanResources">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="trellouserselector">Select a Trello user</label>
                            <select class="form-control" id="trellouserselector" ng-model="vm.selectedTeamMember"
                                    ng-options="member as member.username for member in vm.unmatchedTeamMembers">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <button type="button" class="btn btn-primary"
                                ng-disabled="vm.unmatchedTeamMembers.length === 0"
                                ng-click="vm.matchResourceMember()">Match</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Load your Replan plan to Trello</h2>
<form name="form" ng-submit="vm.loadToTrello()" role="form">
    <div class="form-group">
        <label for="planselector">Select a plan</label>
        <select class="form-control" id="planselector" ng-model="vm.selectedPlan"
                ng-options="plan as plan.name for plan in vm.plans" ng-change="vm.getUnlinkedPlanResources()">
        </select>
    </div>
    <div class="form-group">
        <label for="teamselector">Select a Trello team</label>
        <select class="form-control" id="teamselector" ng-model="vm.selectedTeam"
                ng-options="team as team.displayName for team in vm.teams" ng-change="vm.getUnlinkedTeamMembers()">
        </select>
    </div>
    <div class="form-group">
        <label for="boardName">Board name</label>
        <input type="boardName" name="boardName" id="boardName" class="form-control" ng-model="vm.boardName" required />
        <span ng-show="form.boardName.$dirty && form.boardName.$error.required" class="help-block">Board name is required</span>
    </div>
    <div ng-hide="vm.unmatchedPlanResources.length === 0" data-toggle="modal" data-target="#matchingModal">
        <p id="warning-message">
            <strong>WARNING!</strong> there are some resources of the selected plan that aren't linked with a Trello user.
            <strong> Click this message to fix it</strong>
        </p>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="vm.dataLoading" class="btn btn-primary">Load to Trello</button>
        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>