<div class="modal fade" id="matchingModal" tabindex="-1" role="dialog" aria-labelledby="matchingModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="matchingModalLabel">Match each plan resources with Trello user</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="resourceselector">Select a resource</label>
                            <select class="form-control" id="resourceselector">
                                <option>Resource 1</option>
                                <option>Resource 2</option>
                                <option>Resource 3</option>
                                <option>Resource 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="trellouserselector">Select a Trello user</label>
                            <select class="form-control" id="trellouserselector">
                                <option>trellouser1</option>
                                <option>trellouser2</option>
                                <option>trellouser3</option>
                                <option>trellouser4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <button type="button" class="btn btn-primary">Match</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Load your Replan plan to Trello</h2>
<form>
    <div class="form-group">
        <label for="teamselector">Select a Trello team</label>
        <select class="form-control" id="teamselector" ng-model="vm.selectedTeam" ng-options="team as team.displayName for team in vm.teams">
        </select>
    </div>
    <div class="form-group">
        <label for="planselector">Select a plan</label>
        <select class="form-control" id="planselector">
            <option>Release Març</option>
            <option>Release Febrer</option>
            <option>Release Gener</option>
            <option>Release Desembre</option>
        </select>
    </div>
    <div class="form-group">
        <label for="boardName">Board name</label>
        <input type="boardName" name="boardName" id="boardName" class="form-control" ng-model="vm.boardName" required />
        <span ng-show="form.boardName.$dirty && form.boardName.$error.required" class="help-block">Board name is required</span>
    </div>
    <div class="warning-message">
        <p>
            <strong>WARNING!</strong> there are some resources of the selected plan that aren't matched with a Trello user <a href="#matchingModal" data-toggle="modal" data-target="#matchingModal">click this message to fix it</a>
        </p>
    </div>
</form>
<p><a href="/login" class="btn btn-primary">Logout</a></p>