<ul class="progress-indicator">
    <li class="completed"> <span class="bubble"></span> Select plan </li>
    <li class="completed"> <span class="bubble"></span> Select team </li>
    <li class="completed"> <span class="bubble"></span> Match </li>
    <li> <span class="bubble"></span> Create board </li>
    <li> <span class="bubble"></span> Completed </li>
</ul>
<h2>Match plan resources with Trello team members</h2>
<form name="form" ng-submit="vm.nextStep()" role="form">
    <div class="form-group">
        <h3>Current matchings</h3>
        <table class="table table-responsive table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Resource</th>
                <th>Full Name in Trello</th>
                <th>Trello Username</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="matching in vm.matchings" ng-click="vm.setSelectedMatching($index)" ng-class="{'selected-to-delete': $index === vm.selectedMatchingIndex}">
                <td>{{ matching.resource.description }}</td>
                <td>{{ matching.member.fullName }}</td>
                <td>{{ matching.member.username }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" ng-hide="vm.unmatchedResources.length === 0">
        <h3>Unmatched resources</h3>
        <table class="table table-responsive table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Resource</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="unmatchedResource in vm.unmatchedResources" ng-click="vm.setSelectedResource($index)" ng-class="{'selected-to-add': $index === vm.selectedResourceIndex}">
                <td>{{ unmatchedResource.description }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-responsive table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Full Name in Trello</th>
                <th>Trello Username</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="unmatchedMember in vm.unmatchedMembers" ng-click="vm.setSelectedMember($index)" ng-class="{'selected-to-add': $index === vm.selectedMemberIndex}">
                <td>{{ unmatchedMember.fullName }}</td>
                <td>{{ unmatchedMember.username }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
    <div>
        <button class="btn btn-primary" ng-disabled="vm.dataLoading || vm.selectedMemberIndex === null || vm.selectedResourceIndex === null" ng-click="vm.match()">Match</button>
    </div>

    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" ng-disabled="vm.dataLoading">Next</button>
        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>