<h2>Select a release plan</h2>
<form name="form" ng-submit="vm.nextStep()" role="form">
    <div class="form-group">
        <label for="projectSelector">Select a project</label>
        <select class="form-control" id="projectSelector" ng-model="vm.selectedProject"
                ng-options="project as project.name for project in vm.projects" ng-change="vm.getProjects()">
        </select>
    </div>
    <div class="form-group">
        <label for="releaseSelector">Select a release</label>
        <select class="form-control" id="releaseSelector" ng-model="vm.selectedRelease"
                ng-options="release as release.name for release in vm.releases">
        </select>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="!vm.nextEnabled" class="btn btn-primary">Next</button>
    </div>
</form>