<ul class="progress-indicator">
    <li class="completed"> <span class="bubble"></span> Select plan </li>
    <li class="completed"> <span class="bubble"></span> Select team </li>
    <li> <span class="bubble"></span> Match </li>
    <li> <span class="bubble"></span> Create board </li>
    <li> <span class="bubble"></span> Completed </li>
</ul>
<h2>Select a Trello team</h2>
<form name="form" ng-submit="vm.nextStep()" role="form">
    <div class="form-group">
        <label for="teamSelector">Select a team</label>
        <select class="form-control" id="teamSelector" ng-model="vm.selectedTeam"
                ng-options="team as team.displayName for team in vm.teams" ng-change="vm.getTeamMembers()">
        </select>
    </div>
    <div class="form-group">
        <div class="list-group">
            <label for="membersList">Team members</label>
            <div class="list-group-item list-group-item-action flex-column align-items-start" id="membersList" ng-repeat="member in vm.teamMembers">
                <p class="mb-1">{{ member.fullName }}</p>
                <small class="text-muted">{{ member.username }}</small>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-link" class="previous-step" ng-click="vm.previousStep()">&laquo; Previous</button>
        <button type="submit" ng-disabled="!vm.nextEnabled" class="btn btn-success next-step">Next &raquo;</button>
    </div>
</form>